 
<!DOCTYPE html>    
<html lang=" en">

<head>
  <title>date01_fe</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--   <link rel="stylesheet" href="/assets/reset-css/reset.css" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css"  href="../css/style.css">
</head>

<body>
  <!-- EXPLAIN:
    1. HEADER
      1.1. LOGO
      1.2. MENU    -->

      <!-- 1. HEADER -->
      <header class="header-page">
        <div class="container">
          <!-- 1.1. LOGO -->
          <a class="logo" href=""> <img src="../images/logo.png" alt=""> </a>
          <!-- 1.2. MENU -->
          <div class="menu-header">
            <div class="contact-header">
             <ul>
              <li>
                <img class="icon-header" src="../images/icon-phone.png" alt="">
                <div class="info-contact">
                  <p>Customer service</p>
                  <span>19006806</span>
                </div>
              </li>
              <li>
                <img class="icon-header icon-telephone" src="../images/contact.png" alt="">
                <div class="info-contact">
                  <p>Taking care of customers overtime</p>
                  <div>
                    <p>Hotel:<span> 0906636171</span> / Tour:<span> 0938238004</span></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <nav class="nav-header clr">
            <ul>
              <li>
                <a href="">home</a>
              </li>
              <li>
                <a href="">about hadatour</a>
              </li>
              <li>
                <a href="">tour</a>
              </li>
              <li>
                <a href="">hotel</a>
              </li>
              <li>
                <a href="">rental vehicles</a>
              </li>
              <li>
                <a href="">airtiket</a>
              </li>
              <li>
                <a href="">new</a>
              </li>
              <li>
                <a href="">contact</a>
              </li>
              <div class="clr"></div>
            </ul>     
          </nav>
        </div>
      </div>
    </header>
    <!--
     EXPLAIN:
      2. MAIN
        2.1. BANNER
        2.2. INTERECTING TOUR
        2.3. SEARCH
        2.4. TOUR ORTHER
        2.5. SUPPORT ONLINE
        2.6. ACTIVITY IMAGE  -->

        <!-- 2.MAIN -->
        <main>
         <!--   2.1. BANNER -->
         <section class="section-banner">
          <div class="caption">
            <div class="content-banner">
              <h1 class="title">tour du lich pho co hoi an</h1>
              <span>tham quan mua sam cùng hướng dan viên chuyên nghiệp</span>
              <a>xem tour</a>
              <a>chi tiet tour</a>
            </div>
          </div>
        </section>      
        <!--  2.2. INTERECTING TOUR -->
        <section class="section-interesting-tour">
          <div class="container">
            <div class="title-section">
              <h2>interesting destination</h2>
              <a class="more-view" href="#">view more &nbsp; &gt;</a>
            </div>
            <div class="tour-interesting-list">
              <ul>
                <li>
                  <div class="box-item">
                    <div class="destination-img">
                      <a href="#" class="img-intersting-tour"><img src="../images/interesting1.jpg" alt="image"></a>
                    </div>
                    <div class="destination-name">
                      <h4 class="destination-title"><a href="">japan - china</a></h4>
                      <p class="cost">Price: <span class="">5.350.000$</span></p>
                    </div>
                  </div>
                </li>

                <li class="destination-item">
                  <div class="box-item">
                    <div class="destination-img">
                      <a href="#" class="img-interesting-tour"><img src="../images/interesting2.jpg" alt="image"></a>
                    </div>
                    <div class="destination-name">
                      <h4 class="destination-title"><a href="">Thailand - campuchia</a></h4>
                      <p class="cost">Price: <span class="">5.350.000$</span></p>
                    </div>
                  </div>
                </li>

                <li class="destination-item">
                  <div class="box-item">
                    <div class="destination-img">
                      <a href="#" class="img-interesting-tour"><img src="../images/interesting3.jpg" alt="image"></a>
                    </div>
                    <div class="destination-name">
                      <h4 class="destination-title"><a href="">Korean</a></h4>
                      <p class="cost">Price: <span class="">5.350.000$</span></p>
                    </div>
                  </div>
                </li>

                <li class="destination-item">
                  <div class="box-item">
                    <div class="destination-img">
                      <a href="#" class="img-interesting-tour"><img src="../images/interesting4.jpg" alt="image"></a>
                    </div>
                    <div class="destination-name">
                      <h4 class="destination-title"><a href="">Australia - Philippines</a></h4>
                      <p class="cost">Price: <span class="">5.350.000$</span></p>
                    </div>
                  </div>
                </li>
                <div class="clr"></div>
              </ul>
            </div>
          </div>
        </section>
        <!--  2.3. SEARCH -->
        <section class="section-search">
          <div class="container">
            <div class="logo">
              <a class="logo" href=""><img src="../images/logo.png"></a>
            </div>
            <div class="content-search">
              <ul class="tabs-link">
                <li><a href="#tab-content1" class="tab-item1">Search Tour<br><span>Let's choose a destination</span></a></li>
                <li><a href="#tab-content2" class="tab-item2">Search hotel<br><span>Choose the hotel that fits your needs</span></a></li>
              </ul>
              <div class="tab-content">
                <div id="tab-content1" class="content-content1">
                  <form action="">
                    <input class="input-location" type="text" placeholder="Location">
                    <input type="text" placeholder="Lenght">
                    <input type="text" placeholder="Price"> <span> &#124</span>
                    <button type="submit"><i class="fa fa-search"></i> Search</button>
                  </form>
                </div>
                <div id="tab-content2" class="content">
                  <form action="">
                    <input class="input-location" type="text" placeholder="Location">
                    <input type="text" placeholder="Lenght">
                    <input type="text" placeholder="Price"> <span> &#124</span>
                    <button type="submit"><i class="fa fa-search"></i> Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--     2.4. TOUR ORTHER -->
        <section class="section-tour-orther-list">
          <div class="container">
            <div class="tour-orther-list">
              <ul>
                <li>
                  <div class="tour-orther-list-item">
                    <div class="info-orther-tour">
                      <div class="title-orther-tour">
                        <h2 class="title-tour"> domestic tour</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                          magna aliqua.
                        </p> 
                      </div>
                    </div>
                    <div class="tour-image">
                      <div class="detail-tour-item-big">
                        <div class="short-info">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png" alt=""></a>
                          </div>
                          <div class="">
                            <h3>Tour Lao-ThaiLan</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                        <a class="" href=""><img src="../images/domestic1.jpg" alt=""></a>
                      </div>
                      <div class="detail-tour-item-small" style="background-image:url('../images/domestic2.jpg')">
                        <div class="short-info-item-small">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png"></a>
                          </div>
                          <div class="label-tour">
                            <h3>Tour Asian</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                      </div>
                      <div class="detail-tour-item-small" style="background-image:url('../images/domestic3.jpg')">
                        <div class="short-info-item-small">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png"></a>
                          </div>
                          <div class="label-tour">
                            <h3>Tour Asian</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                      </div>
                    </div>
                    <div class="more">
                      <span>
                        <a href="">Other Tour<img src="../images/icon-other-tour.png"></a>
                      </span>  
                    </div>  
                    <div class="clr"></div>
                  </div> 
                </li>

                <li>
                  <div class="tour-orther-list-item">
                    <div class="info-orther-tour">
                      <div class="title-orther-tour">
                        <h2 class="title-tour"> domestic tour</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                          magna aliqua.
                        </p> 
                      </div>
                    </div>
                    <div class="tour-image">
                      <div class="detail-tour-item-big">
                        <div class="short-info">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png" alt=""></a>
                          </div>
                          <div class="">
                            <h3>Tour Lao-ThaiLan</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                        <a class="" href=""><img src="../images/domestic1.jpg" alt=""></a>
                      </div>
                      <div class="detail-tour-item-small" style="background-image:url('../images/domestic2.jpg')">
                        <div class="short-info-item-small">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png"></a>
                          </div>
                          <div class="label-tour">
                            <h3>Tour Asian</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                      </div>
                      <div class="detail-tour-item-small" style="background-image:url('../images/domestic3.jpg')">
                        <div class="short-info-item-small">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png"></a>
                          </div>
                          <div class="label-tour">
                            <h3>Tour Asian</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                      </div>
                    </div>
                    <div class="more">
                      <span>
                        <a href="">Other Tour<img src="../images/icon-other-tour.png"></a>
                      </span>  
                    </div> 
                    <div class="clr"></div> 
                  </div> 
                </li>

                <li>
                  <div class="tour-orther-list-item">
                    <div class="info-orther-tour">
                      <div class="title-orther-tour">
                        <h2 class="title-tour"> domestic tour</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                          magna aliqua.
                        </p> 
                      </div>
                    </div>
                    <div class="tour-image">
                      <div class="detail-tour-item-big">
                        <div class="short-info">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png" alt=""></a>
                          </div>
                          <div class="">
                            <h3>Tour Lao-ThaiLan</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                        <a class="" href=""><img src="../images/domestic1.jpg" alt=""></a>
                      </div>
                      <div class="detail-tour-item-small" style="background-image:url('../images/domestic2.jpg')">
                        <div class="short-info-item-small">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png"></a>
                          </div>
                          <div class="label-tour">
                            <h3>Tour Asian</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                      </div>
                      <div class="detail-tour-item-small" style="background-image:url('../images/domestic3.jpg')">
                        <div class="short-info-item-small">
                          <div class="icon-tour-small">
                            <a class="" href=""><img src="../images/icon-coconut.png"></a>
                          </div>
                          <div class="label-tour">
                            <h3>Tour Asian</h3>
                            <p>2 days-3 nights</p>
                          </div>
                          <span>4.500.00$</span>
                        </div>
                      </div>
                    </div>
                    <div class="more">
                      <span>
                        <a href="">Other Tour<img src="../images/icon-other-tour.png"></a>
                      </span>  
                    </div>
                    <div class="clr"></div>  
                  </div> 
                </li>

                <div class="clr"></div>
              </ul>
            </div>
          </div>
        </section>
        <!-- 2.5. SUPPORT ONLINE -->
        <section class="section-support-online">
         <div class="support-online" style="background-image: url('../images/support-panel.jpg')" >
          <h1 class="title-tour"> Support online</h1>
          <div class="support-online-list">
            <ul>
              <li>
                <h3>Book tour</h3>
                <div class="support-online-icon">           
                  <a class="" href=""><img src="../images/icon-support-phone.png" alt=""></a>  &#09; 
                  <a class="" href=""><img src="../images/icon-support.png" alt=""></a>
                </div>
              </li>
              <li>
                <h3>Book hotel</h3>
                <div class="support-online-icon">           
                  <a class="" href=""><img src="../images/icon-support-phone.png" alt=""></a>   
                  <a class="" href=""><img src="../images/icon-support.png" alt=""></a>
                </div>
              </li>
              <li>
                <h3>Book vehicles</h3>
                <div class="support-online-icon">           
                  <a class="" href=""><img src="../images/icon-support-phone.png" alt=""></a> 
                  <a class="" href=""><img src="../images/icon-support.png" alt=""></a>
                </div>
              </li>
              <li>
                <h3>book air ticket</h3>
                <div class="support-online-icon">           
                  <a class="" href=""><img src="../images/icon-support-phone.png" alt=""></a> 
                  <a class="" href=""><img src="../images/icon-support.png" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!--  2.6. ACTIVITY IMAGE  -->
      <section class="section-active-image">
        <div class="container">
          <div class="active-image">
            <div class="title-section">
              <h2> activity mages</h2>
              <div class="more-view">
                <a>view more &gt;</a>
              </div>
            </div>
            <ul>
              <div class="active-list">
                <li>
                  <div class="activive-item">
                    <div class="image-activity">
                      <a class="" href=""><img src="../images/activities1.jpg" alt=""></a>
                      <div class="title-image-act">
                        <h3>Tour Australia - Group activities</h3>
                      </div>
                    </div>
                    <div class="time-activity">
                      <small class="time-act-left">3 days 2 nights</small>
                      <small class="time-act-right">25/08/2015</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="activive-item">
                    <div class="image-activity">
                      <a class="" href=""><img src="../images/activities2.jpg" alt=""></a>
                      <div class="title-image-act">
                        <h3>Tour Australia - Group activities</h3>
                      </div>
                    </div>
                    <div class="time-activity">
                      <small class="time-act-left">3 days 2 nights</small>
                      <small class="time-act-right">25/08/2015</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="activive-item">
                    <div class="image-activity">
                      <a class="" href=""><img src="../images/activities3.jpg" alt=""></a>
                      <div class="title-image-act">
                        <h3>Tour Australia - Group activities</h3>
                      </div>
                    </div>
                    <div class="time-activity">
                      <small class="time-act-left">3 days 2 nights</small>
                      <small class="time-act-right">25/08/2015</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="activive-item">
                    <div class="image-activity">
                      <a class="" href=""><img src="../images/activities4.jpg" alt=""></a>
                      <div class="title-image-act">
                        <h3>Tour Australia - Group activities</h3>
                      </div>
                    </div>
                    <div class="time-activity">
                      <small class="time-act-left">3 days 2 nights</small>
                      <small class="time-act-right">25/08/2015</small>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <div class="clr"></div>
        </div>
      </section>
    </main>
<!-- EXPLAIN:
3. FOOTER
  3.1. CONTENT
    3.1.1 LOGO
    3.1.2 INFO
    3.1.3 SOCIAL
    3.1.4 EMAIL
    3.2. COPYRIGHT-->

    <!-- 3. FOOTER -->
    <footer class="footer-page">
  <!--   3.1. CONTENT
  3.1.1 LOGO -->
  <div class="container">
    <div class="top-footer-page">
      <div class="logo">
        <a href=""><img src="../images/logo.png" alt=""></a>
      </div>
      <!--      3.1.2 INFO -->
      <div class="footer-infomation">
        <div class="information">
          <h4>Infomation</h4>
          <ul>
            <li>
              <a href="">About HadaTour</a>
            </li>
            <li>
              <a href="">Contact Infomation</a>
            </li>
            <li>
              <a href="">Terms of membership</a>
            </li>
            <li>
              <a href="">Payment methods</a>
            </li>
            <li>
              <a href="">Recruitment</a>
            </li>
          </ul>
        </div>
        <!-- 3.1.3 SOCIAL -->
        <div class="social">
          <h4>social</h4>
          <ul>
            <li>
              <a href="">
                <a class="" href=""><img src="../images/icon-facebook.png" alt=""></a>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="">
                <a class="" href=""><img src="../images/icon-google.png" alt=""></a>
                <span>Google+</span>
              </a>
            </li>
            <li>
              <a href="">
                <a class="" href=""><img src="../images/icon-twitter.png" alt=""></a>
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a href="">
                <a class="" href=""><img src="../images/icon-youtube.png" alt=""></a>
                <span>Youtube</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- 3.1.4 EMAIL -->
        <div class="send-email-footer-page">
          <p>Enter Email to get news from HadaTour</p>
          <form class="form-send-email" action="">
            <input type="text" placeholder="Please enter email here" name="">
            <div class="button-img">
              <button type="submit"><img src="../images/mail.png"/></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 3.2. COPYRIGHT -->
    <div class="copyright">
     <p>© 2018 - Copyright belong to HadaTour</p>
     <div class="mail-designer">
      <p>Design by
        <span>
          <a href="hadatour.com">hadatour.com</a>
        </span>
      </p>
    </div>
  </div>
</div>
</footer>
</body>
</html>